@import "../../vars.css";

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 51px;
  z-index: 2;
  margin: 0 10%;
  left: 0;
  right: 0;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #242d49;
  transition: all 0.5s;
}

.title:hover {
  transform: scale(1.08);
  /* transform: rotateY(360deg); */
}

.menu-btn {
  display: none;
}

.menu {
  display: flex;
}

.menu-items {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menu-items a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
  transition: all 0.5s;
  padding-bottom: 5px;
}

.boder-active {
  border-bottom: 3px solid #fca61f;
}

.boder-active a {
  color: #fca61f;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menu-btn {
    display: block;
    cursor: pointer;
  }

  .menu-items {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menu-open {
    display: flex;
    z-index: 1;
  }
}
